@model dierentuinn.Models.Dieren

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dieren</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewData["Categories"] as List<dierentuinn.Models.Category>, "Id", "Name"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Width" class="control-label"></label>
                <input asp-for="Size.Width" class="form-control" />
                <span asp-validation-for="Size.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Height" class="control-label"></label>
                <input asp-for="Size.Height" class="form-control" />
                <span asp-validation-for="Size.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietaryClass" class="control-label"></label>
                <input asp-for="DietaryClass" class="form-control" />
                <span asp-validation-for="DietaryClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPattern" class="control-label"></label>
                <input asp-for="ActivityPattern" class="form-control" />
                <span asp-validation-for="ActivityPattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prey" class="control-label"></label>
                <input asp-for="Prey" class="form-control" />
                <span asp-validation-for="Prey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureId" class="control-label"></label>
                <select asp-for="EnclosureId" class="form-control" asp-items="@(new SelectList(ViewData["Enclosures"] as List<dierentuinn.Models.Enclosure>, "Id", "Name"))"></select>
                <span asp-validation-for="EnclosureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceRequirement" class="control-label"></label>
                <input asp-for="SpaceRequirement" class="form-control" />
                <span asp-validation-for="SpaceRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityRequirement" class="control-label"></label>
                <input asp-for="SecurityRequirement" class="form-control" />
                <span asp-validation-for="SecurityRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
